/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-beastfeedbacks-survey-input {
	.beastfeedbacks-survey-input_label {
		label {
			font-weight: 700;
		}

		span.beastfeedbacks-survey-input_label_required {
			font-size: 0.7em;
			color: rgb(182, 182, 182);
		}
	}

	.beastfeedbacks-survey-input_item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
		margin: 10px 0;

		.dummy-textarea,
		.dummy-input,
		textarea,
		input {
			font-size: 1em;
			border: 1px solid #8c8f94;
			border-radius: 0.33rem;
			box-sizing: border-box;
			display: block;
			width: 100%;
			padding: 1em;
		}

		.dummy-input {
			color:rgb(120, 120, 120);
			background-color: white;
		}

		.dummy-textarea {
			color:rgb(120, 120, 120);
			background-color: white;
			height: 7em;
		}
	}
}
