/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-beastfeedbacks-like {

	form,
	.wp-block-button {
		width: fit-content;
	}

	form {
		text-align: center;

		.beastfeedbacks-like_balloon {
			position: relative;
			display: inline-block;
			margin-bottom: 1.5rem;
			padding: 7px 0;
			width: 4em;
			color: #555;
			font-size: 16px;
			background: #fff;
			border: 1px solid #ccc;

			&::before {
				$size: 15px;
				content: "";
				position: absolute;
				left: calc(50% - $size);
				bottom: -$size;
				border-style: solid;
				border-color: #ccc transparent transparent transparent;
				border-width: $size $size 0 $size;
			}

			&::after {
				$size: 14px;
				content: "";
				position: absolute;
				left: calc(50% - $size);
				bottom: -$size;
				border-style: solid;
				border-color: #fff transparent transparent transparent;
				border-width: $size $size 0 $size;
			}

			p {
				text-align: center;
				margin: 0;
				padding: 0;
			}
		}
	}
}
