/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-beastfeedbacks-survey-select {
	margin-top: 1.5em;
	display: block !important; // .is-layout がeditorでは設定されない? のでデフォでblockに指定して表示統一

	.beastfeedbacks-survey-select_label {
		width: 100%;
		padding-bottom: 1.2rem;

		label {
			font-weight: 700;
		}

		span.beastfeedbacks-survey-select_label_required {
			font-size: 0.7em;
			color: rgb(182, 182, 182);
		}
	}

	.beastfeedbacks-survey-select_items {

		.select_wrap {
			width: 100% !important;
			position: relative;
			padding-right: 0 !important;

			&::after {
				position: absolute;
				content: "";
				top: 50%;
				right: 1em;
				width: 0;
				height: 0;
				margin: -2px 0 0 0;
				border: 5px solid transparent;
				border-top: 5px solid #808080;
			}
		}

		.beastfeedbacks-survey-select_item {
			width: fit-content;
			padding-right: 1rem;

			label {
				margin-bottom: 0;
				font-weight: 400;
				line-height: 1;
			}

			.dummy-select {
				border: 1px solid #8c8f94;
				background-color: #fff;
			}

			.dummy-select,
			select {
				-webkit-appearance: none;
				appearance: none;

				font-size: 1em;
				border-radius: 0.33rem;
				box-sizing: border-box;
				display: block;
				width: 100%;
				padding: 1em;
			}

			input {
				width: 1.4em;
				height: 1.4em;
				margin: 0 8px;

				vertical-align: middle;
			}
		}
	}
}
